@model IEnumerable<SampleWebApplication.Models.Students>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@(Html
    .Grid(Model)
    .Build(columns =>
    {

        columns.Add(model => model.FirstMidName).Titled("First Name").Sortable(true);
        columns.Add(model => model.LastName).Titled("Surname");

        columns.Add(model => model.EnrollmentDate).Titled("Enrollment Date");

        columns.Add(model => model.hasGraduated).Titled("Has Graduated");
        columns.Add(model => Html.CheckBox("Student_" + model.hasGraduated));

    })
    .Filterable()
    .Sortable()
    .Pageable()
)